<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianyu704.daemonlibrary">

    <application
        android:name="com.tianyu704.daemonlibrary.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tianyu704.daemonlibrary.MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.tianyu704.daemonlibrary.MainWorkService"
            />
        <!-- 注意 ： 看业务需求，工作Service是否要放在主进程还是work进程 ， 大部业务分放在主进程即可-->
        <!--android:process=":work"-->
    </application>

</manifest>